<md-grid-list [cols]="3" rowHeight="300px" gutterSize="10px">
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/who']">Who?</div>
            <br>I am a:<br>{{ IAm }}<br>
            <br>The other party is a:<br>{{ TheyAre }}<br>
            <br>Our relationship is:<br>{{ Relationship }}<br>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/what']">What?</div>
            <br>Was it a contract? : {{ IsContract }}<br>
            <br>Is the contact still in force? : {{ inForce }}<br>
            <br>Was there a breach of contract? : {{ breach }}<br>
            <br>Did you suffer loss due to this event? : {{ loss }}<br>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/where']">Where?</div>
            <br>I am based in the:<br>{{ iLiveIn }}<br>
            <br>The other party is based in the:<br>{{ theyLiveIn }}<br>
            <br>The matter took place in the:<br>{{ tookPlaceIn }}<br>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/when']">When?</div>
            <br>The agreement began on:<br>{{ contractStart }}<br>
            <br>The issue occurred on:<br>{{ issueStart }}<br>
            <br>I knew about the issue on:<br>{{ issueFound }}<br>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/why']">Why?</div>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title">View your contract</div>
        </md-card>
    </md-grid-tile>
</md-grid-list>

<router-outlet></router-outlet>

