<md-grid-list [cols]="3" rowHeight="300px" gutterSize="10px">
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/who']">Who?</div>
            <br>I am a:<br>{{ IAm }}<br>
            <br>The other party is a:<br>{{ TheyAre }}<br>
            <br>Our relationship is:<br>{{ Relationship }}<br>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/what']">What?</div>
            <br>Was it a contract?<br>{{ IsContract }}<br>

        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/where']">Where?</div>
            <br>I am based in the:<br>{{ iLiveIn }}<br>
            <br>The other party is based in the:<br>{{ theyLiveIn }}<br>
            <br>The matter took place in the:<br>{{ tookPlaceIn }}<br>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/when']">When?</div>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title" [routerLink]="['/action/why']">Why?</div>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title">View your contract</div>
        </md-card>
    </md-grid-tile>
</md-grid-list>

<router-outlet></router-outlet>

