
md-card {
    height: 500px;
    width: 90%;    
    background-color: #2c3a47;
    text-align: center;
    color: white;
    padding: 0px;
    display: table;
    font-size: 1.08em;
    margin: 50px;

}
.title {
    background-color: #314150;
    padding: 13px;
    margin: 0px;
    font-size: 1.3em;
}

.subtitle {
    background-color: #41586d;
    padding: 13px;
    margin: 0px;
    font-size: 1.1em;
}

.options {
    background-color: white;
    color: black;
    padding: 60px 90px;
}