
<md-card>
  <div class="title">Why are you filing this claim?<br>You are seeking:</div>
    <div class="subtitle">Select all that apply</div>

  <div class="options"><br>
    <button md-button (click)="onChange($event, 'monetary compensation')">Monetary compensation</button><br>
    <button md-button (click)="onChange($event, 'specific action')">Specific action</button><br>
    <button md-button (click)="onChange($event, 'refraining from specific action')">Refraining from specific action</button><br>
    <button md-button (click)="onChange($event, 'be publicly censured')">Be publicly censured</button><br>
    <button md-button (click)="onChange($event, 'an apology')">An apology</button><br>
    <br>
  </div>
</md-card>

<md-grid-list [cols]="1" rowHeight="50px" gutterSize="10px">
    <md-grid-tile>
        <md-card class="continue">
            <div class="title second" [routerLink]="['/action']">Continue →</div>
        </md-card>
    </md-grid-tile>
</md-grid-list>