<md-grid-list [cols]="2" rowHeight="300px" gutterSize="15px">
    <md-grid-tile>
        <md-card>
            <div class="title">Who are you?</div>
            <div class="options"><br>
                <button md-button (click)="onChange($event, 'Individual')">Individual</button><br><br>
                <button md-button (click)="onChange($event, 'Business')">Business</button><br><br>
                <button md-button (click)="onChange($event, 'Sole Trader')">Sole Trader</button>
            </div>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <md-card>
            <div class="title">Who is the other party?</div>
            <div class="options"><br>
                <button md-button (click)="onChange2($event, 'Individual')">Individual</button><br><br>
                <button md-button (click)="onChange2($event, 'Business')">Business</button><br><br>
                <button md-button (click)="onChange2($event, 'Government Body')">Government Body</button>
            </div>
        </md-card>
    </md-grid-tile>
</md-grid-list>

<md-grid-list [cols]="1" rowHeight="460px" gutterSize="10px">
    <md-grid-tile>
        <md-card>
            <div class="title">What is your relationship with them?   |   They are a:</div>
            <div class="options"><br>
                <button md-button (click)="onChange3($event, 'Family member')">Family member</button><br><br>
                <button md-button (click)="onChange3($event, 'Friend/Acquaintance')">Friend / Acquaintance</button><br><br>
                <button md-button (click)="onChange3($event, 'Partner (Not cohabiting)')">Partner (Not cohabiting)</button><br><br>                
                <button md-button (click)="onChange3($event, 'Partner (Cohabiting)')">Partner (Cohabiting)</button><br><br>
                <button md-button (click)="onChange3($event, 'Employer')">Employer</button><br><br>
                <button md-button (click)="onChange3($event, 'Service Provider')">Service Provider</button><br><br>
                <button md-button (click)="onChange3($event, 'Business Associate')">Business Associate</button>
    
            </div>
        </md-card>
    </md-grid-tile>
</md-grid-list>

<md-grid-list [cols]="1" rowHeight="50px" gutterSize="10px">
    <md-grid-tile>
        <md-card>
            <div class="title second" [routerLink]="['/action']">Continue →</div>
        </md-card>
    </md-grid-tile>
</md-grid-list>

<router-outlet></router-outlet>

